@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
/* ==============
    Mobile Verion
============== */
@media screen and (max-width: 500px) {
  /* ==============
      GENERAL
  ============== */
  * {
    margin: 0;
    padding: 0;
  }
  body{
    font-family: 'Raleway';
    text-align: center;
    font-size: 10pt;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
  div.title h2 {
    color: #444649;
    font-size: 25pt;
    margin-top: 45px;
  }
  div.title hr {
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 75px;
    width: 70px;
    height: 4px;
    background-color: #444649;
  }
  body div.section {
    padding: 70px 0 70px 0;
    color: #616161;
  }
  /* ==============
      HEADER
  ===============*/

  header {
    color: #fff;
    background-color: #1A192D;
    height: 23em;
  }
  header .seenfirst{
    height: 19.55em;
    line-height: 27pt;
    font-size: 10pt;
    /* font-weight: 200; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header .desc {
      margin: 0;
  }
  header .seenfirst .desc h1 span {
    color: #E31B6D;
  }
  /* View my work button */
  header div.seenfirst div.header-button {
    margin-top: 15px;
  }
  header div.seenfirst a.btn {
    font-size: 12pt;
    color: #fff;
    border: 2px solid #fff;
    padding: 5px 15px;
    margin-top: 10px;
  }
  /* Main Menu */
  header nav {
    width: 100%;
    background-color: #1B242F;
    padding: 15px 0;
  }
  header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header nav ul li {
    padding: 0 10px;
    margin: 0 10px;
  }
  /* li HOVER */
  header nav ul li:hover {
    color: #E31B6D;
  }
  header nav ul li.active {
    color: #E31B6D;
  }

  /* ==============
      ABOUT
  ===============*/

  div#about  {
    /* margin: 0 15px; */
  }
  div#about div.skills1 {
    display: flex;
  }
  div#about div.skills1 div.firsttwo, div.secondtwo {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  div#about div.skills1 div.about-child {
    width: 100%;
    height: 150px;
    border: 3px solid red;
  }
  /* div#about div.skills1 div.about-child div.icon {
    position: absolute;
    margin: auto;
    /* top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    /* transform: rotate(45deg);
    background-color: red;
    height: 100px;
    width: 100px;
  } */
  div#about div.skills1 div.about-child div.icon i {
    font-size: 40px;
    color: #fff;
    background-color: blue;
    /* position: absolute; */
    margin: auto;
  }
  /* div#about div.skills1 div.about-child div.icon i:before {
    content: "";
    background-color: red;
    width: 50px;
    height: 100px;
    position: absolute;
    border-radius: 0;
    transform: rotate(45deg);
    top: 0px;
    left: 0px;
  }
  div#about div.skills1 div.about-child div.icon i:after {
    content: "";
    background-color: red;
    width: 100px;
    height: 50px;
    position: absolute;
    border-radius: 0;
    transform: rotate(45deg);
    top: 20px;
    left: -20px;
  } */
  /* Skills2 [img + intro + percents] */
  div#about div.skills2 {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }
  div#about div.skills2 div.left {
    margin: 0 10px;
    width: 100%;
  }
  div#about div.skills2 div.left img {
    height: 200px;
  }
  div#about div.skills2 div.left h3 {
    margin: 20px 0 15px 0;
    font-size: 14pt;
    font-weight: 700;
    color: #616161;
  }
  div#about div.skills2 div.left p {
    color: #616161;
    line-height: 11pt;
    font-size: 8pt;
  }
  div#about div.skills2 div.left p a {
    color: #009ADA;
  }
  /* ==========
    PORTFOLIO
  =========  */
  div#projects {
    background-color: #f5f5f5;
    padding: 70px 0 70px 0;
    color: #616161;
    line-height: 11pt;
    display: flex;
    flex-direction: column;
  }
  div#projects nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  div#projects nav ul a li {
    padding: 5px 20px;
    font-size: 6pt;
    font-weight: 600;
  }
  div#projects nav ul a li.active {
    background-color: #E31B6D;
    color: #fff;
  }
  div#projects nav ul a {
    color: #616161;
  }
  div#projects div.examples img {
    height: 240px;
    max-width: 100%;
  }
  div#projects div.examples img:first-child {
    margin-top: 15px;
  }

  /* =========
    BLOGS
  ==========*/

  div.blogs {
    margin: 0 10px;
  }
  div.blogs div.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    text-align: left;
    /* font-size: 8pt; */
    margin-bottom: 50px;
  }
  div.blogs div.blog img {
    width: 100%;
    height: 150px;
    margin: 0 0 15px 0;
  }
  div.blogs div.blog h3 {
    line-height: 14pt;
    font-size: 12pt;
    transition: color .3s ease-in-out;
    font-weight: 700;
    text-align: left;
    margin-bottom: 5px;
  }
  div.blogs div.blog p {
    text-align: left;
    font-size: 9pt;
    line-height: 13pt;
    max-height: 85px;
  }
  div.blogs div.blog span {
    font-size: 7pt;
    font-family: 'Open sans';
  }
  div.blogs div.blog hr {
    height: 3px;
    width: 25%;
    background: #04C2C9;
    margin: 10px 0px;
  }
}
